@inject IHttpContextAccessor HttpContextAccessor

<ul class="navbar-nav">
    <li class="nav-item">
        <span id="userName" class="nav-link"></span>
    </li>
    <li class="nav-item">
        <a id="logoutBtn" class="nav-link d-none" href="#">Logout</a>
    </li>
    <li class="nav-item">
        <a id="loginBtn" class="nav-link d-none" href="/Login">Login</a>
    </li>
    <li class="nav-item">
        <a id="registerBtn" class="nav-link d-none" href="/Register">Register</a>
    </li>
</ul>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "https://localhost:7111/api/auth/current-user",
            type: "GET",
            xhrFields: { withCredentials: true },
            success: function (response) {
                if (response.success && response.user) {
                    $("#userName").text(response.user.userName);
                    $("#logoutBtn").removeClass("d-none");
                } else {
                    $("#userName").text("");
                    $("#loginBtn, #registerBtn").removeClass("d-none");
                }
            },
            error: function () {
                $("#userName").text("");
                $("#loginBtn, #registerBtn").removeClass("d-none");
            }
        });

        $("#logoutBtn").click(function (e) {
            e.preventDefault();
            $.ajax({
                url: "https://localhost:7111/api/auth/Logout",
                type: "POST",
                xhrFields: { withCredentials: true },
                success: function (response) {
                    if (response.success) {
                        document.cookie = "token=; expires=Thu, 01 Jan 1970 00:00:00 UTC; path=/;";
                        window.location.href = "/";
                    }
                },
                error: function () {
                    alert("Logout failed!");
                }
            });
        });
    });
</script>
